<header>
  <div class="container">
    <a routerLink="/" class="logo">Song Review</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/loginPage">Login/Signup</a></li>
        <li *ngIf="admin"><a href="#" routerLink="/songsPage">Songs</a></li>
        <li *ngIf="user"><a href="#" routerLink="/playlistComponent">playlist</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<body *ngIf="show">
  <h1>Welcome to Song Reviewer site</h1>
  <h2>Here are the List of all Songs</h2>
  <div *ngIf="allSongs">
    <div class="songList" id="song" *ngFor="let song of allSongs">
      <button mat-raised-button [style.background-image]="'url(' + song.thumbnail + ')'">
        <p class="songle_title">{{ song.title }}</p>
        <br>
        <p class="song_data"><strong>Overall Rating: </strong>{{ song.rating }}</p>
      </button>
    </div>
  </div>
  <h2>Here are the List of all Reviews for above Songs</h2>
  <sub class="reviewContent" *ngIf="allReviews">
    <div class="reviewList" *ngFor="let review of allReviews">
      <a class="review_data"><a>Reviewd by: </a> {{ review.reviwer }}</a>
      <br>
      <p class="review_data"><a>Song name: </a> {{ review.title }}</p>
      <p class="review_data"><a>Review: </a>{{ review.review }}</p>
      <p class="review_data"><a>Overall Rating: </a>{{ review.rating }}</p>
    </div>
  </sub>
</body>