div {
    list-style-type: none;
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;

    div {
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: auto;
        height: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: auto;
        }

        img{
            size: 10px;
        }
    }
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
}
    img {
        margin-top: auto;
        max-width: auto;
        height: 80%;
    }
    // button {
    //     line-height: 12px;
    // //  width: 18px;
    //  margin-top: auto;
    //  margin-right: auto;
    //  position:absolute;
    //  top:auto;
    //  right:auto;
    // }
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
