div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    div {
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 30%;
        height: 200px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        p.songle_title {
            font-weight: bold;
            font-size: 1.2rem;
        }
        p.description {
            text-transform: uppercase;
            font-size: .9rem;
            flex-grow: 1;
        }
        p.due {
            text-transform: uppercase;
            font-size: .9rem;
            flex-grow: 1;
        }p.quantity {
            text-transform: uppercase;
            font-size: .9rem;
            flex-grow: 1;
        }
    }
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
}
    img {
        margin-top: 20px;
        max-width: 80%;
        height: 80%;
}
}