<h2 mat-dialog-title>Add a new song</h2>

<mat-dialog-content [formGroup]="form" novalidate>
    <div class="form-group">
        <a>Title</a>
        <input type="text" class="form-control11" formControlName="title" #title />
    </div>
    <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['title'].errors.required">
            Give Some title
        </div>
    </div>
    <div class="form-group">
        <a>Rating</a>
        <input type="text" class="form-control12" formControlName="rating" #rating />
    </div>
    <div *ngIf="form.controls['rating'].invalid && (form.controls['rating'].dirty || form.controls['rating'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['rating'].errors.required">
            Rating is required.
        </div>
    </div>
    <div class="form-group">
        <a>Artist</a>
        <input type="text" class="form-control12" formControlName="artist" #artist />
    </div>
    <div *ngIf="form.controls['artist'].invalid && (form.controls['artist'].dirty || form.controls['artist'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['artist'].errors.required">
            Artist is required.
        </div>
    </div>
    <div class="form-group">
        <a>Album</a>
        <input type="text" class="form-control12" formControlName="album" #album />
    </div>
    <div *ngIf="form.controls['album'].invalid && (form.controls['album'].dirty || form.controls['album'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['album'].errors.required">
            Album is required.
        </div>
    </div>
    <div class="form-group">
        <a>Length</a>
        <input type="text" class="form-control12" formControlName="length" #length />
    </div>
    <div *ngIf="form.controls['length'].invalid && (form.controls['length'].dirty || form.controls['length'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['length'].errors.required">
            Length is required.
        </div>
    </div>
    <div class="form-group">
        <a>Year</a>
        <input type="text" class="form-control12" formControlName="year" #year />
    </div>
    <div *ngIf="form.controls['year'].invalid && (form.controls['year'].dirty || form.controls['year'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['year'].errors.required">
            Year is required.
        </div>
    </div>
    <div class="form-group">
        <a>Genre</a>
        <input type="text" class="form-control12" formControlName="genre" #genre />
    </div>
    <div *ngIf="form.controls['genre'].invalid && (form.controls['genre'].dirty || form.controls['genre'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['genre'].errors.required">
            Genre is required.
        </div>
    </div>
    <div class="form-group">
        <a>Comment</a>
        <input type="text" class="form-control12" formControlName="comment" #comment />
    </div>
    <div *ngIf="form.controls['comment'].invalid && (form.controls['comment'].dirty || form.controls['comment'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['comment'].errors.required">
            Comment is required.
        </div>
    </div>
    <div class="form-group">
        <a>Hidden</a>
        <input type="text" class="form-control12" formControlName="hidden" #hidden />
    </div>
    <div *ngIf="form.controls['hidden'].invalid && (form.controls['hidden'].dirty || form.controls['hidden'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['hidden'].errors.required">
            Hidden is required.
        </div>
    </div>
    <div class="form-group">
        <a>Thumbnail</a>
        <input type="text" class="form-control12" formControlName="thumbnail" #thumbnail />
    </div>
    <div *ngIf="form.controls['thumbnail'].invalid && (form.controls['thumbnail'].dirty || form.controls['thumbnail'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['thumbnail'].errors.required">
            Thumbnail is required.
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"
        (click)="addSongForm(title.value, rating.value, artist.value, album.value, length.value, year.value, genre.value, comment.value, hidden.value, thumbnail.value)">Add</button>
    <button class="mat-raised-button mat-primary"
        (click)="addReviewForm(songReviwer.value, songName.value, songReview.value, songRating.value)">Add Review</button>
</mat-dialog-actions>