<h1>All Time Best Songs</h1>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
</div>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Menu
        </mat-panel-title>
        <mat-panel-description>
            more options
        </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-raised-button (click)="addNewSong()">Add Song</button>
    <button mat-raised-button (click)="viewPlaylist()">Playlist</button>
</mat-expansion-panel>
<div *ngIf="allSongs">
    <div class="songList" id="song" *ngFor="let song of allSongs | filter: searchText">
        <button mat-raised-button (click)="expand(song._id)" [style.background-image]="'url(' + song.thumbnail + ')'">
            <p class="songle_title">{{ song.title }}</p>
            <br>
            <p class="song_data"><strong>Overall Rating: </strong>{{ song.rating }}</p>
        </button><br>
        <div *ngIf="playlistBlock=='show'">
            <strong>Playlist Name </strong> <input type="text" [(ngModel)]="playlistName"><br>
            <p class="mat-raised-button" (click)="add(playlistName, song.title, song.album)">add</p>
        </div>
        <b *ngIf="playlistBlock=='hide'" class="mat-raised-button" (click)="addToPlaylist()">Add to
            Playlist</b>
    </div>