<h1>Welcome to movie buff world</h1>

<div class="homePage">
    <p>
        <a>Name </a> <input type="text" [(ngModel)]="name"><br>
        <a>Age </a> <input type="text" [(ngModel)]="age"><br>
        <strong>Hi how are you doing today </strong> {{ name }}
    </p>
</div>

<div class="homePage">
    <ul>
        <li>Here is some information about HArry Potter author...........<br><strong> Joanne Rowling </strong>CH, OBE,
            HonFRSE, FRCPE, FRSL born 31 July 1965),
            better known by her
            pen name J. K. Rowling, is a British author, film producer, television producer, screenwriter, and
            philanthropist. She is best known for writing the Harry Potter fantasy series, which has won multiple awards
            and sold more than 500 million copies, becoming the best-selling book series in history. The books
            are the basis of a popular film series, over which Rowling had overall approval on the scripts and was a
            producer on the final films. She also writes crime fiction under the name Robert Galbraith.</li>
    </ul>
    <a class="site" href="https://en.wikipedia.org/wiki/J._K._Rowling">wikipedia</a><br>
    <a class="site" href="https://www.jkrowling.com/">official website</a>
</div>
<div class="homePage">
    <ul>
        <li>Here is some information about Game Of Thrones author...........<br><strong> George Raymond Richard Martin
            </strong>(born George Raymond Martin, September 20, 1948), also known as GRRM, is an American novelist
            and short story writer in the fantasy, horror, and science fiction genres, screenwriter, and television
            producer. He is best known for his series of epic fantasy novels, A Song of Ice and Fire, which was adapted
            into the HBO series Game of Thrones (2011–2019).

            In 2005, Lev Grossman of Time called Martin "the American Tolkien", and in 2011, he was included on the
            annual Time 100 list of the most influential people in the world.</li>
    </ul>
    <a class="site" href="https://en.wikipedia.org/wiki/George_R._R._Martin">wikipedia</a><br>
    <a class="site" href="https://www.georgerrmartin.com/">official website</a>
</div>