<div mat-dialog-content *ngIf="allSongs">

    <div class="songContent" *ngIf="allSongs">
        <img [src]="allSongs.thumbnail" />
        <p class="songle_title">{{ allSongs.title }}</p>
        <br>
        <p class="song_data"><strong>Overall Rating: </strong>{{ allSongs.rating }}</p>
        <p class="song_data"><a>Artist:</a> {{ allSongs.artist }}</p>
        <p class="song_data"><a>Album:</a> {{ allSongs.album }}</p>
        <p class="song_data"><a>Length:</a> {{ allSongs.length }}</p>
        <p class="song_data"><a>Year:</a> {{ allSongs.year }}</p>
        <p class="song_data"><a>Genre:</a> {{ allSongs.genre }}</p>
        <p class="song_data"><a>Comment:</a> {{ allSongs.comment }}</p>
        <br>
        <span class="mat-raised-button mat-primary" (click)="addReview(allSongs._id)">Add Review</span>

    </div>
    <div *ngIf="editBlock=='show'">
        <mat-dialog-content [formGroup]="form" novalidate>
            <div class="form-group">
                <a>Title</a>
                <input type="text" formControlName="title" #title />
            </div>
            <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['title'].errors.required">
                    Give Some title
                </div>
            </div>
            <div class="form-group">
                <a>Rating</a>
                <input type="text" formControlName="rating" #rating />
            </div>
            <div *ngIf="form.controls['rating'].invalid && (form.controls['rating'].dirty || form.controls['rating'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['rating'].errors.required">
                    Rating is required.
                </div>
            </div>
            <div class="form-group">
                <a>Artist</a>
                <input type="text" formControlName="artist" #artist />
            </div>
            <div *ngIf="form.controls['artist'].invalid && (form.controls['artist'].dirty || form.controls['artist'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['artist'].errors.required">
                    Artist is required.
                </div>
            </div>
            <div class="form-group">
                <a>Album</a>
                <input type="text" formControlName="album" #album />
            </div>
            <div *ngIf="form.controls['album'].invalid && (form.controls['album'].dirty || form.controls['album'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['album'].errors.required">
                    Album is required.
                </div>
            </div>
            <div class="form-group">
                <a>Length</a>
                <input type="text" formControlName="length" #length />
            </div>
            <div *ngIf="form.controls['length'].invalid && (form.controls['length'].dirty || form.controls['length'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['length'].errors.required">
                    Length is required.
                </div>
            </div>
            <div class="form-group">
                <a>Year</a>
                <input type="text" formControlName="year" #year />
            </div>
            <div *ngIf="form.controls['year'].invalid && (form.controls['year'].dirty || form.controls['year'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['year'].errors.required">
                    Year is required.
                </div>
            </div>
            <div class="form-group">
                <a>Genre</a>
                <input type="text" formControlName="genre" #genre />
            </div>
            <div *ngIf="form.controls['genre'].invalid && (form.controls['genre'].dirty || form.controls['genre'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['genre'].errors.required">
                    Genre is required.
                </div>
            </div>
            <div class="form-group">
                <a>Comment</a>
                <input type="text" formControlName="comment" #comment />
            </div>
            <div *ngIf="form.controls['comment'].invalid && (form.controls['comment'].dirty || form.controls['comment'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['comment'].errors.required">
                    Comment is required.
                </div>
            </div>
            <div class="form-group">
                <a>Hidden</a>
                <input type="text" formControlName="hidden" #hidden />
            </div>
            <div *ngIf="form.controls['hidden'].invalid && (form.controls['hidden'].dirty || form.controls['hidden'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['hidden'].errors.required">
                    Hidden is required.
                </div>
            </div>
            <div class="form-group">
                <a>Thumbnail</a>
                <input type="text" formControlName="thumbnail" #thumbnail />
            </div>
            <div *ngIf="form.controls['thumbnail'].invalid && (form.controls['thumbnail'].dirty || form.controls['thumbnail'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['thumbnail'].errors.required">
                    Thumbnail is required.
                </div>
            </div>

            <button class="mat-raised-button mat-primary"
                (click)="editSongForm(allSongs._id, title.value, rating.value, artist.value, album.value, length.value, year.value, genre.value, comment.value, hidden.value, thumbnail.value)">Add</button>
        </mat-dialog-content>
    </div>
    <h1>Reviews</h1><br>
    <button mat-icon-button (click)="onClose()">X</button>
    <sub class="reviewContent" *ngIf="allReviews">
        <div class="reviewList" *ngFor="let review of allReviews, index as i">
            <div *ngIf="review.title==allSongs.title; else notShow">
                <p class="review_data"><a>Reviewd by: </a> {{ review.reviwer }}</p>
                <br>
                <p class="review_data"><a>Song name: </a> {{ review.title }}</p>
                <p class="review_data"><a>Review: </a>{{ review.review }}</p>
                <p class="review_data"><a>Overall Rating: </a>{{ review.rating }}</p>
                <br>
                <p class="review_data">{{ review.createdAt }}</p>
            </div>
            <ng-template #notShow>
                <p>
                    ..............
                </p>
            </ng-template>
        </div>
    </sub>
</div>